{% extends 'templates/layout-generic.html' %}

{% block content %}

<div class="login-page">
    <div class="form">
        <form class="login-form">

            <input id="emailField" type="text" name="email" value="" placeholder="Informe seu e-mail"/>
            <input id="passwdField" type="password" value="" placeholder="Sua senha" name="password"/>

            <button id="loginSubmit" type="button">Entrar</button>

            

        </form>
    </div>
</div>

{% endblock %}

{% block mainscript %}
<script src="/js/login.js" type="text/javascript"></script>
{% endblock %}