<% include partials/header %>

<div class="login-page">
    <div class="form">
        <form class="login-form">

            <input type="text" name="email" value="" placeholder="Informe seu e-mail"/>
            <input type="password" value="" placeholder="Sua senha" name="password"/>

            <button id="loginSubmit">Entrar</button>

            <p class="message">Não tem registro? <a href="/register">Criar uma conta</a></p>

        </form>
    </div>
</div>

<% include partials/footer %>