<% include ../partials/header %>

<div class="login-page">
    <div class="form">
        <form class="login-form">
            <h4>Area restrita</h4>
        </form>
    </div>
</div>

<% include ../partials/footer %>